* {
    font-family: "Zen Kaku Gothic Antique", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #4E4D4D;
    height: 100%;
    /* Asegura que la página ocupe el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#dashboard {
    background-color: #3D2B1D;
    height: 100%;
    /* Asegura que la página ocupe el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: "Zen Kaku Gothic Antique", serif;
    font-weight: 400;
    font-style: normal;
}

#card-login {
    max-width: 600px;
    width: auto;
    border-radius: 21px;
    background-color: #E0DCDB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 25%;
    left: 10%;
}

.form-control {
    width: 504px;
    /* Ajusta este valor según el diseño deseado */
    border-radius: 0;
    background-color: #E0DCDB;
    border-color: #000;
    border-width: 1px;
}


.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #E8433D;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #98362D;
}

#btn-login {
    border-radius: 0;
    --bs-btn-color: #000;
    --bs-btn-bg: #E0DCDB;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E0DCDB;
    --bs-btn-active-border-color: #A97963;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #A97963;
    --bs-btn-disabled-border-color: #D7B8A6;
}

#btn-reenviar {
    max-width: 504px;
    width: 100%;
    font-weight: 500;
    --bs-btn-color: #000;
    --bs-btn-bg: #A97963;
    --bs-btn-border-color: #A97963;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #D7B8A6;
    --bs-btn-active-border-color: #A97963;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D7B8A6;
    --bs-btn-disabled-border-color: #D7B8A6;
}


#btn-register {
    max-width: 504px;
    width: 100%;
    font-weight: 500;
    --bs-btn-color: #000;
    --bs-btn-bg: #D7B8A6;
    --bs-btn-border-color: #D7B8A6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E0DCDB;
    --bs-btn-active-border-color: #A97963;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #A97963;
    --bs-btn-disabled-border-color: #D7B8A6;
}

#wizard {
    height: 100vh;
    width: auto;
}

#title-alquimia {
    font-family: "Zeyada", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 11.5%;
    left: 22%;
}

#icon {
    max-width: 80px;
    position: absolute;
    top: 10%;
    left: 16%;
}

#img-dashboard {
    max-width: 70%; 
    width: 400px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    position: absolute;
    /* Fijo para que siempre esté visible */
    top: 50%;
    /* Ajusta la posición verticalmente */
    left: 60%;
    /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -50%);
    /* Centra el círculo */
    z-index: 1;
    /* Asegura que esté por encima de otros elementos */
}

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 992px) {
    .imgdashboard {
        width: 50%;
        max-width: 400px;
        left: 50%;
    }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .imgdashboard {
        width: 40%;
        max-width: 400px;
    }
}

#img-wallpaper {
    height: 100vh;
    /* Toda la altura de la pantalla */
    width: 39vw;
    /* 40% del ancho de la pantalla */
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    /* Rellena el espacio */
    object-position: center;
    /* Centra la imagen */
}

#frase-1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    width: auto;
    max-width: 30%;
    /* Controla el ancho máximo si el contenido crece */
    height: 9%;
    /* Se adapta al contenido */
    text-align: center;
    padding: 1em;
    padding-top: 2%;
    border-radius: 25px;
    background-color: #98362D;
    color: #fff;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
    /* Posición ajustable */
    position: absolute;
    top: 14%;
    /* Ajusta el valor para mover hacia abajo */
    right: 15%;
    /* Ajusta el valor para mover hacia la izquierda */
    z-index: 2;
}

#frase-2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    width: auto;
    max-width: 30%;
    /* Controla el ancho máximo si el contenido crece */
    height: 9%;
    /* Se adapta al contenido */
    text-align: center;
    padding: 1em;
    padding-top: 2%;
    border-radius: 25px;
    background-color: #98362D;
    color: #fff;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%;
    /* Ajusta el valor para mover hacia abajo */
    right: 2%;
    /* Ajusta el valor para mover hacia la izquierda */
    z-index: 1;
}

#frase-3 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    width: 100%;
    max-width: 30%;
    /* Controla el ancho máximo si el contenido crece */
    height: 9%;
    /* Se adapta al contenido */
    text-align: center;
    padding: 1em;
    padding-top: 2%;
    border-radius: 25px;
    background-color: #98362D;
    color: #fff;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 77%;
    /* Ajusta el valor para mover hacia abajo */
    right: 15%;
    /* Ajusta el valor para mover hacia la izquierda */
}

#texto-pricipal {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 90px;
    /* Tamaño grande por defecto */
    width: 30%;
    max-width: 30%;
    height: 9%;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: 45%;
    left: 10%;
}


#navbarStyle {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #E0DCDB;
    border-radius: 55px;
    margin: 10px;
}

#menu-dashboard {
    background-color: #363233;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    border-radius: 0;
    border: 8px solid #000;
    border-style: solid none none none;
}

#cards-productos {
    background-color: #565656;
    color: #fff;
    -webkit-box-shadow: 29px 27px 15px -21px rgba(0, 0, 0, 1);
    -moz-box-shadow: 29px 27px 15px -21px rgba(0, 0, 0, 1);
    box-shadow: 29px 27px 15px -21px rgba(0, 0, 0, 1);
}

.card {
    font-family: "Zen Kaku Gothic Antique", serif;
    font-weight: 400;
    font-style: normal;
}

.card .card-title {
    font-family: "Zen Kaku Gothic Antique", serif;
    font-weight: 600;
    font-style: normal;
}

.card .card-text {
    font-family: "Zen Kaku Gothic Antique", serif;
    font-weight: 400;
    font-style: normal;
}

#msjwizard {
    position: absolute;
    /* Usa 'fixed' si quieres que se mantenga al hacer scroll */
    top: 0%;
    /* Ajusta la posición desde la parte superior */
    right: 20%;
    /* Ajusta la posición desde la derecha */
    max-width: 400px;
    max-height: 400px;
    z-index: 1;
    /* Asegura que esté por encima del fondo */
    background: transparent;
    padding: 20px;
    transition: opacity 0.5s ease-in-out;
}

.mensaje-error {
    position: absolute;
    top: 15%;
    right: 16%;
    z-index: 100;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.error {
    border: 2px solid red !important;
    background-color: #ffe6e6;
    color: red;
}